<div class="row">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Поиск Ивента" aria-label="Recipient's username"
      aria-describedby="basic-addon2" (input)="onSearchAction($event.target.value)">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button"> Search <div *ngIf="!sectionsDidLoaded" class="spinner-border"
          role="status">
          <span class="sr-only">Loading...</span>
        </div></button>
    </div>
  </div>
  <button *ngIf= "isAuthorized" class="btn btn-sm btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">
    Добавить раздел +
  </button>
  <div *ngIf="!sectionsDidLoaded" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <ng-container *ngIf="sectionsDidLoaded">
    <div class="card col-md-12 my-2" *ngFor="let section of allSections" style="width: 18rem;">
      <a (click)="getPosts(section.id)" class="nav-link">{{section.name}}</a>
    </div>
  </ng-container>
  <div *ngIf="!allSections || allSections.length == 0">
    <h1>К сожалению, по вашему запросу ничего не найдено.</h1>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="isAdmin" class="modal-title" id="exampleModalLabel">Добавить раздел</h5>
        <h5 *ngIf="!isAdmin" class="modal-title" id="exampleModalLabel">Отправить запрос на добавление раздела</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="name" placeholder="Имя раздела" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onCreateSection()">Save</button>
      </div>
    </div>
  </div>
</div>