<div class="container">
  <div class="row justify-content-center ">
    <form *ngIf="!profileFormCreated" [formGroup]="profileForm" (ngSubmit)="register()" class="w-100 mt-2">
      <div class="form-row d-flex flex-column text-dark">
        <h3 class="text-dark text-center">Регистрация</h3>
        <div class="form-group ">
          <label for="inputName">Имя</label>
          <div class="d-flex">
            <input formControlName="name" type="text" class="form-control" id="inputName">
          </div>
        </div>
        <div class="form-group ">
          <label for="inputEmail">Email</label>
          <input formControlName="email" type="email" class="form-control" id="inputEmail" placeholder="">
        </div>
        <div class="form-group ">
          <label for="input5">Пароль</label>
          <input #reg formControlName="password" name="password"
                 class="form-control shadow-sm"
                 id="input5">
          <small id="emailHelp" class="form-text text-muted">Хотя бы одна заглавная буква , одна маленькая буква и одна
            цыфра (минимальное количество символов - 8)</small>
        </div>
        <div class="form-group ">
          <label for="input6">Номер телефона</label>
          <input formControlName="phoneNumber" name="phoneNumber"
                 class="form-control shadow-sm"
                 id="input6">
        </div>
      </div>
      <button type="submit" class="btn " [disabled]="!profileForm.valid"
              [class.btn-secondary]="!profileForm.valid"
              [class.btn-success]="profileForm.valid" data-toggle="modal" data-target="#exampleModal">Создать
      </button>
    </form>
    <div *ngIf="profileFormCreated" class="success-box">
      <div class="success-box-in bg-primary text-center">
        <h5 class="text-light">
          Form was submitted message!
        </h5>
        <div class="text-warning cursor-pointer" (click)="profileFormCreated=false">
          leave another one
        </div>
      </div>
    </div>
  </div>
</div>
