<div class="container">
    <div class="row justify-content-center" *ngIf="!isLogged && !showAutor">
      <form class="col-md-6 mt-2 text-dark text-center border rounded bg-light p-2">
        <h3>Вход</h3>
        <div class="form-group mb-0 text-left">
          <label for="email">Введите Имя Пользователя</label><br/>
          <input id="email" [(ngModel)]="login" name="login" class="form-control shadow-sm"/> <br/>
          <label for="password" class="align-items-start">Введите пароль</label><br/>
        </div>
        <div class="form-group mt-0 ">
          <input id="password" [(ngModel)]="password" class="form-control shadow-sm" type="password"
                 name="passwordLogin"/>
          <p class="btn m-0 small text-primary mb-2 pointer"  data-toggle="modal" data-target="#exampleModalCenter">
            Не помните пароль?
          </p>
        </div>
        <input (click)="authorize()" style="background-color: rgb(124, 91, 6);" class="btn btn-success pt-1 pb-1 pl-5 pr-5" type="submit"
               name="submitLogin" value="Вход"/>
      </form>
      <div class="col-md-7 text-light text-center mt-3">
        <div class="d-flex flex-column">
          <div class="mt-2">
            <button class="btn btn-dark pt-1 pb-1 pl-5 pr-5" (click)="redirectToRegister()">Регистрация
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-muted" id="exampleModalLongTitle">Восстановление пароля</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label>Введите Email вашего аккаунта :</label>
          <input [(ngModel)]="reset_email" type="text" name="reset_email" class="form-control shadow-sm"/>
          <small class="text-muted">укажите Email который привязан к вашему аккаунту</small>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-primary"
                  data-toggle="modal" [disabled]="!reset_email" data-target="#ModalSuccess" data-dismiss="modal"
                  (click)="resetPassword();">Готово
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="ModalSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-muted" id="ModalTitleSuccess">Востановление пароля</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-container>Мы выслали ссылку на ваш Email для восстановления пароля!</ng-container>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Готово</button>
        </div>
      </div>
    </div>
  </div>
  
