.card-date-box{
    position:relative;

}
.card-date{
    position:absolute;
    top:15px;
    right: 15px;
}
.card-parrent{
    background-color: rgba(169, 230, 245, 0.267);
}

.card-child{
    background-color: rgba(168, 168, 168, 0.199);
}