<div *ngIf="!commentsDidLoaded" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="row" *ngIf="commentsDidLoaded">
  <div class="card col-md-12 my-2" style="width: 18rem;">
    <div class="card-body d-flex flex-column" *ngIf="postDidLoaded">
      <div class="d-flex justify-content-between align-items-center">
        <span >{{post.userName}}</span>
        <span class="">{{post.date | date}}</span>
        <h5 class="card-title ">{{post.title}}</h5>
      </div>
      
      <div class="d-flex">
        <img class="card-img-top " style="width:150px; " src={{post.photo.code}} alt="Card image cap">
        <p class="card-text ml-3 border p-1 rounded" style="background-color: rgba(216, 216, 216, 0.801);">{{post.content}}</p>
      </div>
    </div>
    <div class="row justify-content-center my-2">
      <button *ngIf="isAuthorized" type="button" (click)="changeParentId(0)" style="background-color: rgb(119, 88, 9); border-color: black;" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Добавить комментарий
      </button>
    </div>
  </div>
  <div class="card col-md-12 my-2 d-flex justify-content-betwenn border-0" *ngFor="let comment of allComments" style="width: 18rem;">
    <div class="my-2">
      <div *ngIf="comment.parent" class="card p-3 border-primary card-date-box card-parrent" >
        <div class="d-flex flex-column"><span><b>{{comment.parent.userName}}</b></span>
          <div class="border rounded p-1 ml-2  mt-1"><i>{{comment.parent.content}}</i></div>
        </div>
        <small class="card-date">{{comment.parent.date | date}}</small>
      </div>
      <div class="card border-secondary mt-2 p-3 card-date-box card-child" [class.ml-3]="comment.parent" >
        <div class="d-flex flex-column"><span><b>{{comment.userName}} </b></span>
          <div *ngIf="comment.photos">
            <img style="width:150px;" *ngFor="let photo of comment.photos" src={{photo.code}} alt="Card image cap">
          </div>
          <div class="border rounded p-1 ml-2 mt-1"><i>{{comment.content}}</i></div>
        </div>
        <div class="d-flex justify-content-end mt-2"> 
          <button *ngIf="isAdmin || comment.userId == userDetails.id" (click)="deleteComment(comment.id)" class="btn btn-sm btn-danger mr-1">
            Delete
          </button>
          <button *ngIf="isAuthorized" class="btn btn-sm btn-primary" (click)="changeParentId(comment.id)" data-toggle="modal" data-target="#exampleModal">
            Answer
          </button>
        </div>
        <small class="card-date">{{comment.date | date}}</small>
      </div>
        
    </div>
  </div>
  <div *ngIf="allComments && allComments.length >0" class="col-md-12 d-flex justify-content-center my-3">
    <ul class="pagination">
      <li *ngFor="let page of pages; let i = index" (click)="changePage(i)" class="page-item"><a
          class="page-link">{{i+1}}</a></li>
    </ul>
  </div>
  <div *ngIf="!allComments || allComments.length == 0">
    <h1>К сожалению, в данной теме ничего не найдено.</h1>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить комментарий</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Добавьте контент</label>
          <textarea class="form-control" [(ngModel)]="description"  id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group"></div>
        <input id="photo1" type="file" (change)=handleFileUpload($event)>
        <input id="photo2" type="file" (change)=handleFileUpload($event)>
        <input id="photo3" type="file" (change)=handleFileUpload($event)>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="onAddComment()">Сохранить комментарий</button>
      </div>
    </div>
  </div>
</div>