<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-dark bg-dark text-light"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Forum</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse "
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/sections']"
              >Форум</a
            >
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" [routerLink]="['/']">События</a>
          </li>
          <li *ngIf="!isAuthorized" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/login']"
              >Вход</a
            >
          </li>
          <li *ngIf="isAuthorized" (click)="logOut()" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/login']"
              >Выход</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
