<div class="container">
    <div class="row">
      <div class="col-md-5 text-light mt-5">
        <h3>Сбросить пароль</h3>
        <label for="email">Введите email</label><br/>
        <input [(ngModel)]="email" class="form-control form-control-sm shadow-sm" id="email" type="email" name="emailLogin"/> <br/>
        <label>Введите новый пароль</label><br/>
        <input [(ngModel)]="password" class="form-control form-control-sm shadow-sm" type="password" name="passwordLogin"/><br/>
        <button class="btn btn-primary d-flex align-items-center" (click)="resetPassword()">
          Восстановить
        </button>
      </div>
    </div>
  </div>
  