<div *ngIf="!postsDidLoaded" class="spinner-border" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div *ngIf="isAuthorized" class="row justify-content-center my-2">
  <button type="button" style="background-color: rgb(119, 88, 9); border-color: black;" class="btn btn-primary"
    data-toggle="modal" data-target="#exampleModal">
    Добавить пост
  </button>
</div>
<div class="row" *ngIf="postsDidLoaded">
  <div class="card col-md-12 my-2" *ngFor="let post of allPosts" style="width: 18rem;">
    <div class="card-body d-flex flex-column">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column">
          <h5 class="card-title ">{{post.title}}</h5>
          <span>{{post.userName}}</span>
          <span>{{post.address}}</span>
        </div>
        <span class="">{{post.date | date}}</span>
      </div>

      <div class="d-flex">
        <img class="card-img-top " style="width:150px; " src={{post.photo.code}} alt="Card image cap">
        <p class="card-text ml-3 border p-1 rounded" style="background-color: rgba(216, 216, 216, 0.801);">
          {{post.content}}</p>
      </div>
      <div class="d-flex justify-content-between align-items-center ">
        <a *ngIf="isAdmin || post.userId == userDetails.id" (click)="deletePost(post.id)" class="btn btn-danger mt-3">Delete</a>
        <a (click)="getComments(post.id)" class="btn btn-primary mt-3">Show More</a>
      </div>

    </div>
  </div>
  <div *ngIf="allPosts && allPosts.length >0" class="col-md-12 d-flex justify-content-center my-3">
    <ul class="pagination">
      <li *ngFor="let page of pages; let i = index" (click)="changePage(i)" class="page-item"><a
          class="page-link">{{i+1}}</a></li>
    </ul>
  </div>
  <div *ngIf="!allPosts || allPosts.length == 0">
    <h1>К сожалению, в данном разделе еще нет записей.</h1>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="topicInput">Тема</label>
          <input type="email" class="form-control" [(ngModel)]="theme" id="topicInput" placeholder="Название темы">
        </div>
        <div class="form-group">
          <label for="adress">Адрес</label>
          <input type="text" class="form-control" [(ngModel)]="adress" id="adress" placeholder="Адрес Заведения">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Добавьте Описание</label>
          <textarea class="form-control" [(ngModel)]="description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group"></div>
        <input id="photo" type="file" (change)=handleFileUpload($event)>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onAddEvent()">Сохранить
          пост</button>
      </div>
    </div>
  </div>
</div>